@import url(default.css);
@import url(font.css);
@import url(common.css);

.skip_nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /*맨위*/
    width: 100%;
}
.skip_nav a{
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #CB2A49;
    color: #fff;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus{
    top: 0;
}

header{
    position: fixed; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /*logo,gnb,util을 좌우로 배치*/
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header .logo a{
    display: block;
    width: 200px;
    height: 40px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/**header에 fixed클래스가 추가되었을때**/
header.fixed{
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a{
    display: block;
    background: url(../images/logo_1.svg) no-repeat center center / contain;
    }

@media screen and (min-width:1025px){
    header{
        position: fixed; /*body를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100px;
        border: 1px solid rgba(255,255,255,0.2);
        color: #fff;
        display: flex; /*logo,gnb,util을 좌우로 배치*/
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    header .logo a{
        display: block;
        width: 200px;
        height: 40px;
        background: url(../images/logo_w.svg) no-repeat center center / contain;
    }
    
    header .gnb .gnb_open,
    header .gnb .gnb_close{
        display: none; /*모바일에서만 보임*/
    } 
    header .gnb .gnb_wrap ul.depth1{
        display: flex; /*li좌우배치*/
    }
    header .gnb .gnb_wrap ul.depth1 > li{
        position: relative; /*2차메뉴 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{
        display: block; 
        line-height: 100px; /*header높이만큼*/
        font-size: 25px;
        font-weight: 700;
        padding: 0 33px;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span{
        /*li하위에 depth2가 있는 a만*/
        display: block;
        padding-right: 20px; /*아이콘이들어갈만큼*/
        position: relative; /*after 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after{
        content: '';
        position: absolute;
        right: 0;
        top: 45px;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7493 2L6.49927 8.25L0.249267 2L1.35864 0.890623L6.49927 6.03125L11.6399 0.890622L12.7493 2Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
        display: none; /*2차메뉴*/
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /*ul길이 절반을 왼쪽으로 이동*/
        top: 87px;
        background-color: #2FB1BE;
        color: #fff;
        padding: 0 30px;
        border-radius: 30px;
        
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        display: block;
        white-space: nowrap; /*줄바꿈금지*/
        padding: 15px 25px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"]> span{
        /*속성선택자(<a target="blank"라는 속성이 는 a 태그만 선택함*/
        display: block;
        padding-right: 20px;
        position: relative; /*after정렬의기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"]> span::before{
        content: "";
        position: absolute;
        right: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_1356)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
        position: relative; /*after정렬의기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    header .util .search .search_open{
        display: block;
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_685' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_685)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    /**header에 fixed클래스가 추가되었을때**/
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after{
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_2074' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect y='15' width='15' height='15' transform='rotate(-90 0 15)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_2074)'%3E%3Cpath d='M13.7493 5L7.49927 11.25L1.24927 5L2.35864 3.89062L7.49927 9.03125L12.6399 3.89062L13.7493 5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header.fixed .util .search .search_open{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_1334' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_1334)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    /*****************메뉴에 마우스를 오버했을때******************/
    header .gnb .gnb_wrap ul.depth1 > li.over > a{
        color: #2FB1BE;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after{
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_2071' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='15' width='15' height='15' transform='rotate(90 15 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_2071)'%3E%3Cpath d='M1.25073 10L7.50073 3.75L13.7507 10L12.6414 11.1094L7.50073 5.96875L2.3601 11.1094L1.25073 10Z' fill='%232FB1BE'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2{
        display: flex; /*2차메뉴*/
    }
    
}/*@media*/
@media screen and (min-width:1025px) and (max-width:1280px){/*1280~1025까지만 적용*/
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        padding: 15px 5px 15px 5px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{
        padding: 0 15px;
    }
}/*@media*/
@media screen and (max-width:1024px){/*모바일 1024이하*/
    header{
        height: 56px;
        padding: 0 0 0 20px;
    }
    header .logo a{
        width: 140px;
        height: 25px;
    }
    header .gnb .gnb_open{
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_1793' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_1793)'%3E%3Cpath d='M3.5 7.00098V5.50098H20.5V7.00098H3.5ZM3.5 18.501V17.001H20.5V18.501H3.5ZM3.5 12.751V11.251H20.5V12.751H3.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_63_3' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_63_3)'%3E%3Cpath d='M3.5 7.00098V5.50098H20.5V7.00098H3.5ZM3.5 18.501V17.001H20.5V18.501H3.5ZM3.5 12.751V11.251H20.5V12.751H3.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap{
        display: none; /*숨김*/
        position: fixed; /*body를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1{
        margin: 56px 20px 0 20px;
        height: calc(100% - 56px);
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li{
        border-bottom: 1px solid #F6F6F6;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child{
        border-top: 1px solid #F6F6F6;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{
        display: block;
        padding: 12px 0;
        font-size: 20px;
        font-weight: 800;
        position: relative; /*after정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after{
        content: "";
        position: absolute;
        right: 0;
        top: 19px;
        width: 12px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_2048' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect y='12' width='12' height='12' transform='rotate(-90 0 12)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_2048)'%3E%3Cpath d='M10.999 4L5.99902 9L0.999023 4L1.88652 3.1125L5.99902 7.225L10.1115 3.1125L10.999 4Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li >ul.depth2{
        background-color: #F6F6F6;
        color: #555;
        padding: 18px 0 18px 25px;
        display: none; /*숨김*/
    }
    header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a{
        display: block;
        padding: 7px 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a[target="_blank"] > span {
        display: inline-block;
        position: relative; /*after 정렬의 기준*/
        padding-right: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a[target="_blank"] > span::after{
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_7)'%3E%3Cpath d='M3.54167 14.875C3.15208 14.875 2.81858 14.7363 2.54115 14.4589C2.26372 14.1814 2.125 13.8479 2.125 13.4583V3.54167C2.125 3.15208 2.26372 2.81858 2.54115 2.54115C2.81858 2.26372 3.15208 2.125 3.54167 2.125H8.5V3.54167H3.54167V13.4583H13.4583V8.5H14.875V13.4583C14.875 13.8479 14.7363 14.1814 14.4589 14.4589C14.1814 14.7363 13.8479 14.875 13.4583 14.875H3.54167ZM6.87083 11.1208L5.87917 10.1292L12.4667 3.54167H9.91667V2.125H14.875V7.08333H13.4583V4.53333L6.87083 11.1208Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_close{
        display: none; /*숨김*/
        position: fixed;
        right: 0;
        top: 0;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_2111' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_2111)'%3E%3Cpath d='M6.39994 18.6532L5.34619 17.5995L10.9462 11.9995L5.34619 6.39945L6.39994 5.3457L11.9999 10.9457L17.5999 5.3457L18.6537 6.39945L13.0537 11.9995L18.6537 17.5995L17.5999 18.6532L11.9999 13.0532L6.39994 18.6532Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .util{
        display: none; /*숨김*/
    }
    
    /*****모바일 메뉴가 열렸을때*****/
    header.menu_open .gnb .gnb_wrap{
        display: block; /*나타남*/
    }
    header.menu_open .gnb .gnb_close{
        display: block; /*나타남*/
    }

    /****************하위메뉴가 열렸을때******************/
    header .gnb .gnb_wrap ul.depth1 > li.open > a{
        color: #2FB1BE;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after{
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_2054' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect x='13.0791' y='1.08008' width='12' height='12' transform='rotate(90.7592 13.0791 1.08008)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_2054)'%3E%3Cpath d='M1.97516 8.93347L7.04097 4.00016L11.9743 9.06597L11.0751 9.94163L7.01745 5.775L2.85082 9.83265L1.97516 8.93347Z' fill='%232FB1BE'/%3E%3C/g%3E%3C/svg%3E%0A");

    }
    header .gnb .gnb_wrap ul.depth1 > li.open >ul.depth2{
        display: block; /*나타남*/
    }
}/*@media*/


.visual .swiper-slide{
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1{
    background-image: url(../images/visual_01.jpg);
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide p{
    font-size: 65px;
    font-weight: 800;
    line-height: 1.2;
    margin: 450px 0 0 0;
}
.visual .btn_wrap{
    position: absolute; /*swiper을 기준으로 정렬*/
    left: 0;
    bottom: 30px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.visual .btn_wrap button{
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev{
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_907' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect width='8' height='8' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_907)'%3E%3Cpath d='M5.33333 7.33268L2 3.99935L5.33333 0.666016L5.925 1.25768L3.18333 3.99935L5.925 6.74102L5.33333 7.33268Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next{
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_910' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(-180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_910)'%3E%3Cpath d='M2.66667 0.667318L6 4.00065L2.66667 7.33398L2.075 6.74232L4.81667 4.00065L2.075 1.25898L2.66667 0.667318Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop{
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_913' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect width='8' height='8' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_913)'%3E%3Cpath d='M4.66667 6.33366V1.66699H6V6.33366H4.66667ZM2 6.33366V1.66699H3.33333V6.33366H2Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play{
    display: none; /*정지버튼을 눌렀을때만 나옴*/
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_2138' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_2138)'%3E%3Cpath d='M2.66683 1.66732L6.3335 4.00065L2.66683 6.33398L2.66683 1.66732Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){
    .visual .swiper-slide{
        height: 700px;
    }
    .visual .swiper-slide p{
        font-size: 42px;
        margin: 400px 0 0 0;
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide{
        height: 470px;
    }
    .visual .swiper-slide p{
        font-size: 30px;
        margin: 300px 0 0 0;
    }
    .visual .btn_wrap{
        position: absolute; /*swiper을 기준으로 정렬*/
        left: 0;
        bottom: 20px;
        gap: 2px;
    }
    .visual .btn_wrap button.btn_prev{
        display: none;
    }
    .visual .btn_wrap button.btn_next{
        display: none;
    }
}
.find{
    background-color: #072727;
    color: #fff;
    padding: 150px 0;
}
.find .tit h2{
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
}
.find .list{
    margin: 32px 0 0 0;
}
.find .list .tab_list ul{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.find .list .tab_list ul li button{
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    padding: 10px 27px 10px 27px;
    
}
.find .list .tab_list ul li.item1 button{
    border: 1px solid #1AAEE0;
    border-radius: 25px;
}
.find .list .tab_list ul li.item2 button{
    border: 1px solid #EF5627;
    border-radius: 25px;
}
.find .list .tab_list ul li.item1.active button{
    background-color: #EF5627;
    border: transparent;
}
.find .list .tab_list ul li.item2.active button{
    background-color: #1AAEE0;
    border: transparent;
}
.find .list .tab_content{
    margin: 36px 0 0 0;
}
.find .list .tab_content .tab_item{
    display: none; /*숨김*/
}
.find .list .tab_content .tab_item.active{
    display: block; /*나타남*/
}
.find .list .tab_content .tab_item > ul{
    display: flex;
    justify-content: space-between;
}
.find .list .tab_content .tab_item > ul > li{
    width: calc(25% - 18px);
    /*24+24+24/1줄에 나타나는 li개수*/
}
.find .list .tab_content .tab_item > ul > li a{
    display: block;
}
.find .list .tab_content .tab_item > ul > li a .photo{
    overflow: hidden;
    height: 395px;
    border-radius: 20px;
}
.find .list .tab_content .tab_item > ul > li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/****************마우스를 오버했을때********************/
.find .list .tab_content .tab_item > ul > li a:hover .photo img{
    transform: scale3d(1.2, 1.2, 1);
}
.find .list .tab_content .tab_item > ul > li a .subject{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a .subject strong{
    padding: 5px 17px 5px 17px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_end{
    background-color: #555;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_lost{
    background-color: #EF5627;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_see{
    background-color: #0D72F6;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_care{
    background-color: #8A51FE;
}
.find .list .tab_content .tab_item > ul > li a .subject h4{
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .list .tab_content .tab_item > ul > li a ul.detail{
    margin: 13px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li{
    display: flex;
    gap: 15px;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li strong{
    color: rgba(255,255,255,0.6);
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li span{
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width:1024px){
            .find{
                padding: 80px 0;
            }
            .find .tit h2{
                font-size: 35px;
            }
            .find .list{
                margin: 20px 0 0 0;
            }
            .find .list .tab_list ul li button{
                font-size: 20px;
                padding: 7px 20px 7px 20px;
            }
            .find .list .tab_content{
                margin: 25px 0 0 0;
            }
            .find .list .tab_content .tab_item > ul{
                gap: 16px 16px;
                flex-wrap: wrap; /*줄바꿈허용*/
            }
            .find .list .tab_content .tab_item > ul > li{
                width: calc(50% - 8px);
                /*24+24+24/1줄에 나타나는 li개수*/
            }
            .find .list .tab_content .tab_item > ul > li a .photo{
                height: 250px;
                border-radius: 15px;
            }
}/*@media*/
@media screen and (max-width:768px){
    .find{
        padding: 45px 0;
    }
    .find .tit h2{
        font-size: 25px;
    }
    .find .list{
        margin: 11px 0 0 0;
    }
    .find .list .tab_list ul{
        gap: 4px;
    }
    .find .list .tab_list ul li button{
        font-size: 18px;;
        padding: 5px 15px 5px 15px;
    }
    .find .list .tab_list ul li.item1 button{
        border-radius: 20px;
    }
    .find .list .tab_list ul li.item2 button{
        border-radius: 20px;
    }
    .find .list .tab_content{
        margin: 15px 0 0 0;
    }
    .find .list .tab_content .tab_item > ul > li a .subject{
        display: block;
        margin: 12px 0 0 0;
    }
    .find .list .tab_content .tab_item > ul > li a .subject strong{
        padding: 5px 12px 5px 12px;
        border-radius: 15px;
        font-size: 16px;
    }
    .find .list .tab_content .tab_item > ul > li a .subject h4{
        margin: 8px 0 0 0;
        font-size: 18px;
    }
    .find .list .tab_content .tab_item > ul > li a ul.detail{
        margin: 4px 0 0 0;
    }
    .find .list .tab_content .tab_item > ul > li a ul.detail li{
        display: block;
    }
    .find .list .tab_content .tab_item > ul > li a ul.detail li:last-child{
        display: none;
    }
    .find .list .tab_content .tab_item > ul > li a ul.detail li strong{
        display: none;
    }
    .find .list .tab_content .tab_item > ul > li a ul.detail li span{
        display: block;
        color: rgba(255,255,255,0.6);
    }
}/*@media*/

.slogan{
    margin: 130px;
}
.slogan .sub_tit{
    font-size: 70px;
    font-weight: 800;
    color: #1d1d1d;
    text-align: center;
}
.slogan .sub_tit strong{
    display: inline-block;
    /*글자를 태그로 감싸고 inline-block을 주면
      줄바꿈이 될때 inline-block으로 묶인 글자는 단락으로 줄바꿈*/
}
.slogan .sub_tit span{
    display: inline-block;
    color: transparent;
    position: relative; /*before정렬의 기준*/
}
.slogan .sub_tit span.item1{
    width: 1.38em;
    /*넓이가 96px - 글자크기 70px
      96/70 = 1.37em
      1em은 현재 해당 요소에 상속된 글자크기를 1로봄*/
}
.slogan .sub_tit span.item2{
    width: 1.38em;
}
.slogan .sub_tit span.item3{
    width: 1.39em;
}
.slogan .sub_tit span.item4{
    width: 1.12em;
}
.slogan .sub_tit span::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*span의 영역에 위아래*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slogan .sub_tit span.item1::before{
    width: 1.28em; /*90/70 =1.28em*/
    height: 1em;/*70/70 =1em*/
    background-image: url(../images/slogan01.png);
}
.slogan .sub_tit span.item2::before{
    width: 1.24em; /*87/70 =1.24em*/
    height: 1.07em;/*75/70 =1.07em*/
    background-image: url(../images/slogan02.png);
}
.slogan .sub_tit span.item3::before{
    top: 40%;
    width: 1.28em; /*90/70 =1.28em*/
    height: 1.17em;/*82/70 =1.17em*/
    background-image: url(../images/slogan03.png);
}
.slogan .sub_tit span.item4::before{
    top: 40%;
    width: 0.88em; /*62/70 =1.28em*/
    height: 1.04em;/*73/70 =1.04em*/
    background-image: url(../images/slogan04.png);
}
.slogan .ex{
    margin: 27px 0 0 0;
    color: #555;
    text-align: center;
}
@media screen and (max-width:1300px){
    .slogan .sub_tit{
        font-size: 50px;
    }
}
@media screen and (max-width:1024px){
    .slogan .sub_tit{
        font-size: 42px;
    }
    .slogan .ex br{
        display: none;
    }
}
@media screen and (max-width:768px){
    .slogan{
        margin: 66px 0 0 0;
    }
    .slogan .sub_tit{
        font-size: 30px;
    }
    .slogan .sub_tit br{
        display: none; /*줄바꿈금지*/
    }
    .slogan .ex{
        margin: 20px 0 0 0;
        font-size: 16px;
    }
    
}/*@media*/

.adopt{
    margin: 140px 0 0 0;
    padding: 130px 0 262px 0;
    background-color: #072727;
    color: #fff;
    text-align: center;
    position: relative; /*rolling 정렬의 기준*/
}
.adopt .tit h2{
    font-size: 45px;
    font-weight: 800;
}
.adopt .list{
    margin: 60px 0 0 0;
}
.adopt .list .swiper-slide{
    width: 280px;
}
.adopt .list .swiper-slide a{
    display: block;
}
.adopt .list .swiper-slide a .photo{
    overflow: hidden;
    height: 280px;
    border-radius: 50%; /*동그라미*/
}
.adopt .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.adopt .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.2, 1.2, 1);
}
.adopt .list .swiper-slide a strong{
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    padding: 5px 20px 5px 20px;
    background-color: #FE457E;
    border-radius: 30px;
    display: inline-block;
    transform: translateY(-17px);
}
.adopt .list .swiper-slide a h3{
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 5px 0;
}
.adopt .list .swiper-slide a p{
    color: rgba(255,255,255,0.8);
    white-space: nowrap; /*1줄제한*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.adopt .list .swiper-slide a strong.cate_care{
    background-color: #2FB1BE;
}
.adopt .list_ctrl{
    margin: 57px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.adopt .list_ctrl button{
    width: 21px;
    height: 21px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_26_1021' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='11' height='11'%3E%3Crect width='11' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_1021)'%3E%3Cpath d='M7.33333 10.0827L2.75 5.49935L7.33333 0.916016L8.14687 1.72956L4.37708 5.49935L8.14687 9.26914L7.33333 10.0827Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.adopt .list_ctrl button.btn_next{
    transform: rotate(180deg);
}
.adopt .list_ctrl .more{
    line-height: 21px;
    height: 21px;
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 0 17px 0 7px;
    font-size: 10px;
    position: relative;
}
.adopt .list_ctrl .more::before{
    content: "";
    position: absolute;
    right: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.58333 7.74902V4.41569H0.25V3.58236H3.58333V0.249023H4.41667V3.58236H7.75V4.41569H4.41667V7.74902H3.58333Z' fill='white'/%3E%3C/svg%3E%0A");
}
.adopt .rolling{
    position: absolute; /*adopt 기준으로 정렬*/
    left: 0;
    bottom: 70px;
    width: 100%;
}
.adopt .rolling p{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 80px;
    font-weight: 800;
    color: rgba(255,255,255,0.05);
    white-space: nowrap; /*1줄*/

    animation-name: rolling;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /*가속도 삭제*/
}

@keyframes rolling {
    0% {left: 0;}
    100% {left: -16.88em;}
}
@media screen and (max-width:1024px){
    .adopt .tit h2{
        font-size: 42px;
    }
    .adopt .list .swiper-slide{
        width: 200px;
    }
    .adopt .list .swiper-slide a .photo{
        height: 200px;
    }
    .adopt .rolling p{
        font-size: 60px;
    }
}
@media screen and (max-width:768px){
    .adopt{
        margin: 60px 0 0 0;
        padding: 45px 0 125px 0;
    }
    .adopt .tit h2{
        font-size: 25px;
    }
    .adopt .list{
        margin: 20px 0 0 0;
    }
    .adopt .list .swiper{
        padding-left: 16px;
    }
    .adopt .list .swiper-slide{
        width: 197px;
    }
    .adopt .list .swiper-slide a .photo{
        height: 197px;
    }
    .adopt .list .swiper-slide a strong{
        font-size: 15px;
        padding: 4px 16px 4px 16px;
        transform: translateY(-17px);
    }
    .adopt .list .swiper-slide a h3{
        font-size: 18px;
        margin: 0 0 3px 0;
    }
    .adopt .list_ctrl{
        margin: 26px 0 34px 0;
    }
    .adopt .list_ctrl button{
        display: none;
    }
    .adopt .rolling{
        bottom: 55px;
    }
    .adopt .rolling p{
        font-size: 50px;
    }
}/*@media*/

.review{
    margin: 130px 0 0 0;
}
.review .wrapper{
    position: relative; /*more정렬의 기준*/
}
.review .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 22px 0; /*선까지의 여백*/
    position: relative; /*after를 기준으로 정렬*/
}
.review .tit h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
}
.review .tit h2 strong{
    position: relative; /*after정렬의 기준*/
}
.review .tit h2 strong::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    z-index: 10;
    width: 100%;
    height: 3px;
    background-color: #2FB1BE;
}
.review .list{
    margin: 18px 0 0 0;
    position: relative; /*이전다음버튼 정렬의 기준*/
}
.review .list .swiper-slide a{
    display: block;
}
.review .list .swiper-slide a .photo{
    overflow: hidden;
    height: 294px;
}
.review .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: contain; /*사진을 자르지 않고 모두 보이게*/
    transition: 0.5s;
}
.review .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.2, 1.2, 1);
}
.review .list .swiper-slide a h3{
    margin: 15px 0 10px 0;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;

    /*1줄제한*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review .list .swiper-slide a p{
    line-height: 1.5;
    height: 3em; /*행간X 줄수 = 단위는 em*/
    overflow: hidden;
}
.review .list .btn_prev,
.review .list .btn_next{
    position: absolute;
    top: 130px;
    width: 20px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='34' viewBox='0 0 20 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9851 34L0 17L16.9851 0L20 3.0175L6.02972 17L20 30.9825L16.9851 34Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.review .list .btn_prev{
    left: -56px;
}
.review .list .btn_next{
    right: -56px;
    transform: rotate(180deg);
}
.review .more{
    position: absolute; /*wrapper기준으로 정렬*/
    right: 0;
    top: 0;
    display: flex; /*strong과 span 좌우*/
    align-items: center;
    gap: 5px;
    padding-right: 44px;
}
.review .more::after{
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_120_615' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='44' height='44'%3E%3Crect width='44' height='44' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_120_615)'%3E%3Cpath d='M20.1667 35.4961V20.8294H5.5V17.1628H20.1667V2.49609H23.8333V17.1628H38.5V20.8294H23.8333V35.4961H20.1667Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.review .more strong{
    font-size: 45px;
    line-height: 1.2;
    color: #2FB1BE;
}
@media screen and (max-width:1400px){
    .review .list .btn_prev,
    .review .list .btn_next{
        display: none;/*숨김*/
    }
}/*@media*/
@media screen and (max-width:1024px){
    .review .tit h2{
        font-size: 42px;
        padding: 0 0 15px 0; /*선까지의 여백*/
    }
    .review .tit h2::after{
        bottom: 7px;
    }
    .review .tit h2 strong::after{
        bottom: -11px;
    }
    .review .more strong{
        font-size: 42px;
    }
    .review .more::after{
        right: 8px;
        top: 5px;
        width: 30px;
        height: 30px;
        background-size: contain;
    }
}/*@media*/
@media screen and (max-width:768px){
    .review .list .swiper-slide{
        width: 152px;
    }
    .review{
        margin: 50px 0 0 0;
    }
    .review .tit h2{
        font-size: 25px;
        padding: 0 0 10px 0; /*선까지의 여백*/
    }
    .review .tit h2::after{
        bottom: 2px;
    }
    .review .tit h2 strong::after{
        bottom: -10px;
    }
    .review .list{
        margin: 10px 0 0 0;
    }
    .review .list .swiper-slide a{
        display: block;
    }
    .review .list .swiper-slide a .photo{
        height: 227px;
    }
    .review .list .swiper-slide a h3{
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    
    .review .more{
        top: 6px;
        padding-right: 0;
        width: 20px;
        height: 20px;
    }
    .review .more::after{
        top: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    .review .more strong,
    .review .more span{
        display: none;
    }
}/*@media*/

footer{
    margin: 137px 0 0 0;
    padding: 102px 0 133px;
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
    padding: 100px 0 130px 0;
    position: relative; /*top정렬의 기준*/
}
footer .wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer .top{
    position: absolute;
    right: 80px;
    top: -15px;
    width: 36px;
    height: 36px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #2FB1BE;
    color: #fff;
    padding: 17px 0 0 0;
}
footer .top::before{
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_120_675' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_120_675)'%3E%3Cpath d='M8.25 13.5V6.6L5.55 9.3L4.5 8.25L9 3.75L13.5 8.25L12.45 9.3L9.75 6.6V13.5H8.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.link li{
    margin: 0 0 5px 0;
}
footer .link_wrap ul.link li a{
    display: block;
    text-align: right;
    padding-right: 21px;
    position: relative; /*after정렬의 기준*/
}
footer .link_wrap ul.link li a::after{
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    right: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_120_686' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_120_686)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns{
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
footer .link_wrap ul.sns li a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns li.facebook a{
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.41479 10.1241L8.88201 6.86556H5.96067V4.75386C5.96067 3.86472 6.36655 2.99579 7.67383 2.99579H9V0.222282C9 0.222282 7.79654 0 6.645 0C4.2428 0 2.67121 1.56104 2.67121 4.38507V6.86556H0V10.1241H2.67121V18H5.96067V10.1241H8.41479Z' fill='%23337FFF'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.twiter a{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9175 1.79392C16.3795 2.05499 15.7826 2.215 15.1974 2.32027C15.4723 2.26974 15.8807 1.73497 16.0418 1.51601C16.2892 1.18336 16.4973 0.808592 16.6112 0.400144C16.6269 0.366457 16.6387 0.328562 16.6112 0.303297C16.5719 0.286454 16.5484 0.294877 16.5209 0.31172C15.869 0.686482 15.1974 0.95597 14.4826 1.14967C14.4237 1.16651 14.3805 1.14967 14.3413 1.11177C14.2823 1.04019 14.2274 0.972819 14.1645 0.918078C13.8621 0.644375 13.5401 0.42962 13.1788 0.26961C12.6997 0.059069 12.1774 -0.029356 11.6629 0.00854128C11.1641 0.0422278 10.6693 0.193816 10.2255 0.442254C9.78174 0.690692 9.38116 1.04019 9.06698 1.45706C8.74102 1.89077 8.49753 2.40028 8.37578 2.94348C8.25797 3.46562 8.26582 3.98355 8.34044 4.51411C8.35222 4.60253 8.34044 4.61517 8.26975 4.60254C5.46963 4.15619 3.14864 3.08243 1.2675 0.77912C1.18503 0.678061 1.14182 0.678056 1.07506 0.787537C0.250336 2.11394 0.650917 4.24041 1.67985 5.28469C1.81731 5.42364 1.95869 5.5626 2.11185 5.68892C2.05687 5.70155 1.3696 5.62155 0.760881 5.28469C0.678409 5.22995 0.63913 5.25942 0.631276 5.36048C0.623421 5.50365 0.631275 5.63418 0.654838 5.78998C0.811927 7.13323 1.67985 8.37542 2.8698 8.85966C3.01118 8.92282 3.16828 8.97757 3.31752 9.00704C3.04654 9.0702 2.76769 9.11653 1.99403 9.04915C1.89585 9.0281 1.8605 9.08284 1.89585 9.17969C2.481 10.8851 3.73772 11.3904 4.68025 11.6809C4.80593 11.7062 4.9316 11.7062 5.0612 11.7356C5.05334 11.7483 5.04549 11.7483 5.03763 11.7609C4.72346 12.2704 3.63954 12.6536 3.13685 12.8431C2.21788 13.1884 1.22036 13.34 0.250333 13.2389C0.0932439 13.2136 0.0618274 13.2179 0.0186278 13.2389C-0.0245718 13.2684 0.0147068 13.3063 0.0618337 13.3484C0.258195 13.4873 0.458484 13.6095 0.6627 13.7316C1.27928 14.0811 1.92334 14.359 2.59489 14.5611C6.06657 15.5885 9.97417 14.8348 12.5779 12.0599C14.624 9.87868 15.3427 6.87216 15.3427 3.86565C15.3427 3.74774 15.4723 3.68458 15.5508 3.62142C16.085 3.19192 16.513 2.67819 16.9097 2.10552C17 1.97499 17 1.8613 17 1.81498V1.79814C17 1.75182 17 1.76445 16.9293 1.79814L16.9175 1.79392Z' fill='%2333CCFF'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.naver a{
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0V14H9.96658L5.03345 6.95186V14H0V0H5.03345L9.96658 7.3315V0H15Z' fill='%236BBC44'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.daum a{
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.26566 0.0023258H0V15H7.26566C11.5366 15 15 11.6415 15 7.5C15 3.35845 11.5366 0 7.26566 0V0.0023258ZM7.41708 10.1966H4.80692V4.80578H7.41708C8.95289 4.80578 10.1955 6.01305 10.1955 7.5C10.1955 8.98695 8.95049 10.1942 7.41708 10.1942V10.1966Z' fill='%236F8DF6'/%3E%3C/svg%3E%0A");
}
footer .info_wrap .info ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 44px;
    margin: 0 0 27px 0;
}
footer .info_wrap .copyright{
    margin: 41px 0 0 0;
    color: rgba(255,255,255,0.6);
}
@media screen and (max-width:1024px){
    footer{
        margin: 50px 0 0 0;
        padding: 40px 0 50px 0;
        background-color: #1d1d1d;
        color: rgba(255,255,255,0.8);
    }
    footer .wrapper{
        display: block;
    }
    footer .top{
        display: none;
    }
    footer .link_wrap ul.link{
        display: none;
    }
    footer .link_wrap ul.sns{
        display: flex;
        justify-content: flex-start;
        margin: 0 0 21px 0;
        gap: 4px;
    }
    footer .link_wrap ul.sns li a{
        width: 28px;
        height: 28px;
    }
    footer .link_wrap ul.sns li.facebook a{
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.60986 6.74937L5.92134 4.57704H3.97378V3.16924C3.97378 2.57648 4.24436 1.99719 5.11589 1.99719H6V0.148188C6 0.148188 5.1977 0 4.43 0C2.82853 0 1.78081 1.0407 1.78081 2.92338V4.57704H0V6.74937H1.78081V12H3.97378V6.74937H5.60986Z' fill='%23337FFF'/%3E%3C/svg%3E%0A");
    }
    footer .link_wrap ul.sns li.twiter a{
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9418 1.31554C11.562 1.50699 11.1406 1.62433 10.7276 1.70153C10.9216 1.66448 11.2099 1.27231 11.3236 1.11174C11.4982 0.867796 11.6452 0.592968 11.7255 0.293439C11.7366 0.268735 11.745 0.240945 11.7255 0.222418C11.6978 0.210066 11.6812 0.216243 11.6618 0.228595C11.2016 0.50342 10.7276 0.701045 10.223 0.843089C10.1815 0.855441 10.151 0.843091 10.1232 0.815299C10.0817 0.762804 10.0429 0.7134 9.9985 0.673257C9.78504 0.472542 9.55772 0.315055 9.30268 0.197714C8.96447 0.0433172 8.59578 -0.0215277 8.23263 0.00626361C7.88056 0.030967 7.53127 0.142132 7.21801 0.32432C6.90476 0.506508 6.62199 0.762807 6.40022 1.06851C6.17013 1.38657 5.99825 1.76021 5.91232 2.15855C5.82915 2.54145 5.8347 2.92127 5.88737 3.31035C5.89569 3.37519 5.88737 3.38446 5.83747 3.37519C3.86092 3.04787 2.22257 2.26045 0.894704 0.571355C0.836489 0.497245 0.805989 0.497241 0.758862 0.577527C0.176708 1.55022 0.459471 3.10963 1.18578 3.87544C1.2828 3.97734 1.3826 4.07924 1.49072 4.17188C1.45191 4.18114 0.966778 4.12247 0.537092 3.87544C0.478877 3.83529 0.451151 3.85691 0.445606 3.93102C0.440062 4.03601 0.445606 4.13173 0.462239 4.24599C0.573125 5.23104 1.18578 6.14197 2.02574 6.49709C2.12554 6.5434 2.23643 6.58355 2.34178 6.60516C2.1505 6.65148 1.95366 6.68545 1.40755 6.63605C1.33824 6.62061 1.31329 6.66075 1.33824 6.73177C1.7513 7.98238 2.63839 8.35293 3.30371 8.566C3.39242 8.58453 3.48113 8.58453 3.57261 8.60614C3.56706 8.6154 3.56152 8.61541 3.55598 8.62467C3.3342 8.99831 2.56909 9.27931 2.21425 9.41827C1.56556 9.67148 0.861431 9.78264 0.176706 9.70853C0.0658192 9.69001 0.0436429 9.69309 0.0131491 9.70853C-0.0173448 9.73015 0.0103813 9.75794 0.0436473 9.78882C0.182256 9.89072 0.323636 9.98027 0.467788 10.0698C0.903018 10.3261 1.35765 10.5299 1.83169 10.6781C4.28228 11.4316 7.04059 10.8789 8.87854 8.84391C10.3228 7.24437 10.8301 5.03959 10.8301 2.83481C10.8301 2.74834 10.9216 2.70203 10.9771 2.65571C11.3541 2.34074 11.6562 1.96401 11.9362 1.54405C12 1.44832 12 1.36495 12 1.33098V1.31863C12 1.28467 12 1.29393 11.9501 1.31863L11.9418 1.31554Z' fill='%2333CCFF'/%3E%3C/svg%3E%0A");
    }
    footer .link_wrap ul.sns li.naver a{
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0V10H6.64439L3.35563 4.96561V10H0V0H3.35563L6.64439 5.23679V0H10Z' fill='%236BBC44'/%3E%3C/svg%3E%0A");
    }
    footer .link_wrap ul.sns li.daum a{
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.32815 0.00170559H0V11H5.32815C8.46018 11 11 8.53714 11 5.5C11 2.46286 8.46018 0 5.32815 0V0.00170559ZM5.43919 7.47747H3.52508V3.52424H5.43919C6.56545 3.52424 7.47669 4.40957 7.47669 5.5C7.47669 6.59043 6.56369 7.47576 5.43919 7.47576V7.47747Z' fill='%236F8DF6'/%3E%3C/svg%3E%0A");
    }
    footer .info_wrap{
        font-size: 17px;
    }
    footer .info_wrap .info ul{
        gap: 5px 40px;
        margin: 0 0 2px 0;
    }
    footer .info_wrap .copyright{
        margin: 15px 0 0 0;
        color: rgba(255,255,255,0.6);
    }
}/*@media*/