@import url(default.css);
@import url(font.css);
@import url(common.css);

.main_font{
    font-family: "Eulyoo1945";
    font-weight: 800;
    line-height: 1.2;
}
header{
    position: absolute; /*wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%; /*wrap기준으로 100%*/
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /*logo, gnb, tnb 좌우로 배치*/
    justify-content: space-between; /*좌우 양쪽 끝*/
    align-items: center; /*위아래가운데*/
    padding: 0 30px; /*logo, tnb 좌우 여백*/
}
header .logo a{
    display: block;
    font-size: 0; /*이미지 하단에 존재하는 행간 삭제*/
    line-height: 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /*모바일에서만 보임*/
}
header .gnb .gnb_wrap ul{
    display: flex; /*li 좌우로 배치*/
}
header .gnb .gnb_wrap ul li a{
    display: block;
    font-size: 25px;
    line-height: 100px;
    /*header 높이와 같은 값을 행간으로 줌*/
    padding: 0 32px;
}
header .tnb{
    display: flex; /*mypage, search*/
    gap: 2px;
}
header .tnb .mypage,
header .tnb .search{
    width: 32px;
    height: 32px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_308' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_308)'%3E%3Cpath d='M9 14.25C8.65 14.25 8.35417 14.1292 8.1125 13.8875C7.87083 13.6458 7.75 13.35 7.75 13C7.75 12.65 7.87083 12.3542 8.1125 12.1125C8.35417 11.8708 8.65 11.75 9 11.75C9.35 11.75 9.64583 11.8708 9.8875 12.1125C10.1292 12.3542 10.25 12.65 10.25 13C10.25 13.35 10.1292 13.6458 9.8875 13.8875C9.64583 14.1292 9.35 14.25 9 14.25ZM15 14.25C14.65 14.25 14.3542 14.1292 14.1125 13.8875C13.8708 13.6458 13.75 13.35 13.75 13C13.75 12.65 13.8708 12.3542 14.1125 12.1125C14.3542 11.8708 14.65 11.75 15 11.75C15.35 11.75 15.6458 11.8708 15.8875 12.1125C16.1292 12.3542 16.25 12.65 16.25 13C16.25 13.35 16.1292 13.6458 15.8875 13.8875C15.6458 14.1292 15.35 14.25 15 14.25ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 11.6 19.975 11.2125 19.925 10.8375C19.875 10.4625 19.7833 10.1 19.65 9.75C19.3 9.83333 18.95 9.89583 18.6 9.9375C18.25 9.97917 17.8833 10 17.5 10C15.9833 10 14.55 9.675 13.2 9.025C11.85 8.375 10.7 7.46667 9.75 6.3C9.21667 7.6 8.45417 8.72917 7.4625 9.6875C6.47083 10.6458 5.31667 11.3667 4 11.85V12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM10.65 4.125C11.35 5.29167 12.3 6.22917 13.5 6.9375C14.7 7.64583 16.0333 8 17.5 8C17.7333 8 17.9583 7.9875 18.175 7.9625C18.3917 7.9375 18.6167 7.90833 18.85 7.875C18.15 6.70833 17.2 5.77083 16 5.0625C14.8 4.35417 13.4667 4 12 4C11.7667 4 11.5417 4.0125 11.325 4.0375C11.1083 4.0625 10.8833 4.09167 10.65 4.125ZM4.425 9.475C5.275 8.99167 6.01667 8.36667 6.65 7.6C7.28333 6.83333 7.75833 5.975 8.075 5.025C7.225 5.50833 6.48333 6.13333 5.85 6.9C5.21667 7.66667 4.74167 8.525 4.425 9.475Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");

}
header .tnb .search{
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_311' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_311)'%3E%3Cpath d='M20.4167 21.875L13.8542 15.3125C13.3333 15.7292 12.7344 16.059 12.0573 16.3021C11.3802 16.5451 10.6597 16.6667 9.89583 16.6667C8.00347 16.6667 6.40191 16.0113 5.09115 14.7005C3.78038 13.3898 3.125 11.7882 3.125 9.89583C3.125 8.00347 3.78038 6.40191 5.09115 5.09115C6.40191 3.78038 8.00347 3.125 9.89583 3.125C11.7882 3.125 13.3898 3.78038 14.7005 5.09115C16.0113 6.40191 16.6667 8.00347 16.6667 9.89583C16.6667 10.6597 16.5451 11.3802 16.3021 12.0573C16.059 12.7344 15.7292 13.3333 15.3125 13.8542L21.875 20.4167L20.4167 21.875ZM9.89583 14.5833C11.1979 14.5833 12.3047 14.1276 13.2161 13.2161C14.1276 12.3047 14.5833 11.1979 14.5833 9.89583C14.5833 8.59375 14.1276 7.48698 13.2161 6.57552C12.3047 5.66406 11.1979 5.20833 9.89583 5.20833C8.59375 5.20833 7.48698 5.66406 6.57552 6.57552C5.66406 7.48698 5.20833 8.59375 5.20833 9.89583C5.20833 11.1979 5.66406 12.3047 6.57552 13.2161C7.48698 14.1276 8.59375 14.5833 9.89583 14.5833Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
    /******모바일*******/
                header{
                    height: 56px;
                    padding: 0 0 0 20px; /*logo, tnb 좌우 여백*/
                }
                header .logo a img{
                    width: 91px;
                }
                header .gnb .gnb_open{
                    display: block; /*none -> block숨김요소 보이게*/
                    width: 56px; /*header 높이와 동일*/
                    height: 56px;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_416' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_416)'%3E%3Cpath d='M2.25 5.25V3.75H15.75V5.25H2.25ZM2.25 14.25V12.75H15.75V14.25H2.25ZM2.25 9.75V8.25H15.75V9.75H2.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                header .gnb .gnb_wrap{
                    display: none; /*숨김처리*/
                }
                header .tnb{
                    display: none; /*숨김처리*/ 
                }
}/*@media*/

.visual{
    height: 100vh; /*브라우저 높이에 맞춰서*/
    min-height: 600px; /*최소높이*/
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2{
    font-size: 100px;
    padding: 35vh 0 15px 0;
}
@media screen and (max-width:640px){
    /******모바일*******/
                .visual{
                    height: auto; /*브라우저 높이에 맞춰서*/
                    min-height: 0; /*최소높이*/
                }
                .visual .wrapper{
                    height: 600px; /*브라우저 높이에 맞춰서*/
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 0 0 103px 0;
                }
                .visual h2{
                    font-size: 50px;
                    padding: 0 0 5px 0;
                }
                .visual p br{
                    display: none; /*줄바꿈 삭제*/
                }
}/*@media*/

.book{
    margin: 140px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    position: relative; /*more정렬의 기준*/
    left: calc(50% - 630px);
    display: flex; /*tit,list 좌우배치*/
    justify-content: space-between;
}
.book .book_wrap .tit h2{
    font-size: 45px;
    color: #1d1d1d;
    margin: 15px 0 10px 0;
}
.book .book_wrap .list{
    width: calc(100% - 248px);
    /*book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기*/
    overflow-x: hidden; /*가로스크롤바 삭제*/
    padding: 2px 0 0 2px;
}
.book .book_wrap .list ul{
    display: flex; /* li를 좌우로*/
    gap: 16px;
    width: 1792px;
    /*
        li넓이 * li 갯수 = 240 * 7 = 1680
        사이 여백*li갯수 = 16*7 = 112
        1680 + 112 = 1792
    */
}
.book .book_wrap .list ul li{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.book .book_wrap .list ul li a{
    display: block;
}
.book .book_wrap .list ul li a .photo{
    overflow: hidden;
    border-radius: 1px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.book .book_wrap .list ul li a .photo img{
    width: 100%; /*높이는 비율에 맞게 알아서 - 책은 이미지 전체가
                    나와야 하기 때문에 object-fit 안줌*/
    vertical-align: top;
    /*이미지에 vertical-align을 주면 이미지 하단에 행간이 사라짐*/
}
.book .book_wrap .list ul li a h3{
    margin: 18px 0 10px 0;
    font-size: 25px;
    color: #1d1d1d;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .list ul li a strong{
    display: block;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .more{
    position: absolute; /*book_wrap 기준으로 정렬*/
    left: 0;
    top: 205px;
    color: #1d1d1d;
    padding: 0 20px 0 0;
}
.book .book_wrap .more::after{
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.37501 6.62467H0.583344V5.37467H5.37501V0.583008H6.62501V5.37467H11.4167V6.62467H6.62501V11.4163H5.37501V6.62467Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){
            /************오버했을때*************/
            .book .book_wrap .list ul li a h3 span{
                position: relative; /*after정렬의 기준*/
            }
            .book .book_wrap .list ul li a h3 span::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: #1d1d1d;
                transition: 0.5s;
            }
            .book .book_wrap .list ul li a:hover h3 span::after{
                width: 100%; /*span태그를 기준으로 100%*/
            }
}/*@media*/

@media screen and (max-width:640px){
                    /************모바일*************/
                    .book{
                        margin: 50px 0 0 0;
                    }
                    .book .book_wrap {
                        width: 100%;
                        left: 0;
                        display: block; /*tit,list 좌우배치 flex해제*/
                    }
                    .book .book_wrap .tit{
                        margin: 0 0 0 20px;
                    }
                    .book .book_wrap .tit h2{
                        font-size: 25px;
                        margin: 0;
                    }
                    .book .book_wrap .tit h2 br{
                        display: none; /*줄바꿈삭제*/
                    }
                    .book .book_wrap .tit p{
                        display: none; /*글자 숨김*/
                    }
                    .book .book_wrap .list{
                        width: auto;
                        overflow-x: auto;
                        padding: 18px 0 10px 20px;
                    }
                    .book .book_wrap .list ul{
                        gap: 10px;
                        width: 1120px;
                        /*
                            li넓이 * li 갯수 = 150 * 7 = 1050
                            사이 여백*li갯수 = 10*7 = 70
                            1050 + 70 = 1120
                        */
                    }
                    .book .book_wrap .list ul li{
                        width: 148px;
                    }
                    .book .book_wrap .list ul li a h3{
                        margin: 10px 0 2px 0;
                        font-size: 16px;
                    }
                    .book .book_wrap .list ul li a strong{
                        display: none;
                    }
                    .book .book_wrap .more{
                        left: auto;
                        right: 20px;
                        top: 1px;
                        padding: 0 18px 0 0;
                        font-size: 15px;
                    }
                    .book .book_wrap .more::after{
                        right: 0px;
                        top: 1px;
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4375 5.5625H0.125V4.4375H4.4375V0.125H5.5625V4.4375H9.875V5.5625H5.5625V9.875H4.4375V5.5625Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                        width: 18px;
                        height: 18px;
                    }
}/*@media*/
.interview{
    background-color: #EEEEEE;
    margin: 80px 0 0 0;
    padding: 120px 0;
}
.interview .tit{
    text-align: center;
}
.interview .tit h2{
    font-size: 45px;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.interview .list{
    margin: 40px 0 0 0;
}
.interview .list ul{
    display: flex; /*li를 좌우로*/
    justify-content: space-between;
}
.interview .list ul li{
    width: calc(33.33% - 24px);
    /*100% 한줄에 나오는 li의 갯수 = 33.33
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 * 100 =72/3 = 24*/
}
.interview .list ul li:nth-child(2){
    /*디자인이 무조건 두번째 요소는 스타일이 다름*/
    margin: 40px 0 0 0;
}
.interview .list ul li a{
    display: block;
    position: relative; /*txt, txt_over 정렬의 기준*/
}
.interview .list ul li a .photo{
    position: relative; /*before정렬의 기준*/
    overflow: hidden;
    height: 430px; /*사진 높이 고정*/
    border-radius: 30px 0 30px 0;
}
.interview .list ul li:nth-child(2) a .photo{
    /*디자인이 무조건 두번째 요소는 스타일이 다름*/
    border-radius: 0 30px 0 30px;
}
.interview .list ul li a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10; 
    /*이미지보다 순서를 위로
      z-index가 없는것보다 있으면 무조건 위
      z-index가 서로있으면 높은 숫자가 위로올라감
      z-indez값은 position값이 필요*/
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    transition: 0.5s;
}

.interview .list ul li a .photo img{
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.interview .list ul li a .txt{
    position: absolute; /*a를 기준으로 정렬*/
    left: 30px;
    bottom: 40px;
    z-index: 11;
    /*z-index는 숫자가 높은게 위*/
    width: calc(100% - 100px);
    transition: 0.5s;
}
.interview .list ul li a .txt::after{
    content: "";
    position: absolute;
    right: -50px;
    top: 8px;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2708 12.7292H0.125V11.2708H11.2708V0.125H12.7292V11.2708H23.875V12.7292H12.7292V23.875H11.2708V12.7292Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.interview .list ul li a .txt strong{
    font-size: 25px;
    color: #fff;
}
.interview .list ul li a .txt_over{
    position: absolute; /*a기준으로 정렬*/
    left: 0;
    bottom: -70px;
    width: calc(100% - 30px);
    z-index: 12;
    background-color: #7E7D7D;
    color: #fff;
    padding: 40px 30px 37px 30px;
    border-radius: 30px 0 30px 0;
    opacity: 0;/*부드럽게 나타났다 사라지는건 display:none으로 구현x
                 opacity 0 -> 1로 변경
                 opacity는 공간을 차지함 .. 주의*/
    transition: 0.5s;
}
.interview .list ul li:nth-child(2) a .txt_over{
    border-radius: 0 30px 0 30px;
}
.interview .list ul li a .txt_over h3{
    font-size: 25px;
    margin: 0 0 10px 0;
}
.interview .list ul li a .txt_over p{
    /*2줄제한 --- 절대 padding주면 안됨*/
    line-height: 1.5;
    height: 3em; /*행간*줄수*/
    overflow: hidden;
    /*2줒ㄹ이상으로 제한할때 끝에 ...추가하는 코드*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;/*줄수*/
}
.interview .list ul li a .txt_over span{
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0 20px 0 0;
    position: relative; /*after 정렬의 기준*/
}
.interview .list ul li a .txt_over span::after{
    content: "";
    position: absolute; /*span태그를 기준으로 정렬*/
    right: -4px;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12L8.6 10.55L12.15 7H0V5H12.15L8.6 1.45L10 0L16 6L10 12Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.interview .more {
    display: none; /*모바일에서만 보임*/
}
@media screen and (min-width:641px){
                /************오버했을때*************/
                .interview .list ul li a:hover .photo::before{
                    display: none;
                }
                .interview .list ul li a:hover .photo img{
                    filter: grayscale(0);
                }
                .interview .list ul li a:hover .txt{
                    opacity: 0;
                }
                .interview .list ul li a:hover .txt_over{
                    opacity: 1;
                    bottom: -40px;
                }
}/*@media*/
@media screen and (max-width:640px){
                        /************모바일*************/
                        .interview{
                            background-color: transparent;
                            margin: 50px 0 0 0;
                            padding: 0;
                        }
                        .interview .wrapper{
                            position: relative; /*more 정렬의 기준*/
                        }
                        .interview .tit{
                            text-align: left;
                        }
                        .interview .tit h2{
                            font-size: 25px;
                            margin: 0;
                        }
                        .interview .tit p{
                            display: none;
                        }
                        .interview .list{
                            margin: 25px 0 0 0;
                        }
                        .interview .list ul{
                            display: block; /*flex->block*/
                        }
                        .interview .list ul li{
                            width: auto;
                        }
                        .interview .list ul li:nth-child(2),
                        .interview .list ul li:nth-child(3){
                            display: none;
                        }
                        .interview .list ul li a .photo{
                            height: 340px; /*사진 높이 고정*/
                        }
                        .interview .list ul li a .photo::before{
                           display: none;
                        }
                        
                        .interview .list ul li a .photo img{
                            filter: grayscale(0);
                        }
                        .interview .list ul li a .txt{
                            display: none;
                        }
                        .interview .list ul li a .txt_over{
                            bottom: 0;
                            width: 100%;
                            padding: 15px 20px 17px 20px;
                            opacity: 1;
                        }
                        .interview .list ul li a .txt_over h3{
                            font-size: 20px;
                            margin: 0 0 7px 0;
                        }
                        .interview .list ul li a .txt_over span::after{
                            content: "";
                            position: absolute; /*span태그를 기준으로 정렬*/
                            right: -4px;
                            top: 0;
                            width: 20px;
                            height: 20px;
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.70833 5.29069H0.25V4.70736H4.70833V0.249023H5.29167V4.70736H9.75V5.29069H5.29167V9.74903H4.70833V5.29069Z' fill='white'/%3E%3C/svg%3E%0A");
                        }
                        .interview .more{
                            position: absolute;
                            right: 0;
                            top: 0;
                            color: #1d1d1d;
                            font-size: 15px;
                            padding: 0 20px 0 0;
                        }
                        .interview .more::after{
                            content: "";
                            position: absolute;
                            right: 2px;
                            top: 1px;
                            width: 18px;
                            height: 18px;
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4375 5.5625H0.125V4.4375H4.4375V0.125H5.5625V4.4375H9.875V5.5625H5.5625V9.875H4.4375V5.5625Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                        .interview .more {
                            display: flex; /*모바일에서만 보임*/
                        }

}/*@media*/
.story{
    margin: 150px 0 0 0;
}
.story .wrapper{
    position: relative; /*more 정렬의 기준*/
}
.story .tit h2{
    font-size: 45px;
    color: #1d1d1d;
}
.story .list{
    margin: 60px 0 0 0;
}
.story .list ul{
    display: flex; /*li를 좌우로 배치*/
    justify-content: space-between;
}
.story .list ul li{
    width: calc(25% - 18px);
    /*100/한줄 안에 보이는 li갯수 = 25%
        한줄의 여백의 총합 / 한줄에는 보이는 li의 갯수 = 24 * 3(72) / 4 = 18*/
    background-color: #FBFBFB;
}
.story .list ul li a{
    display: block;
}
.story .list ul li a .photo{
    overflow: hidden;
    height: 292px; /*짧은거*/
}
.story .list ul li.long a .photo{
    height: 423px; /*긴거*/
}
.story .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story .list ul li a .txt{
    padding: 0 10px 0 10px;
}
.story .list ul li a .txt h2{
    display: block;
    color: #1d1d1d;
    font-size: 20px;
    margin: 15px 0 13px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
}
.story .list ul li.long a .txt h2{
    margin: 15px 0 17px 0;
}
.story .list ul li a .txt p{
      /*2줄제한 --- 절대 padding주면 안됨*/
      line-height: 1.5;
      height: 13.5em; /*행간*줄수*/
      overflow: hidden;
      /*2줒ㄹ이상으로 제한할때 끝에 ...추가하는 코드*/
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 9;/*줄수*/
      word-break: normal;
      font-size: 15px;
}
.story .list ul li.long a .txt p{
    height: 4.5em; /*행간*줄수*/
    -webkit-line-clamp: 3;/*줄수*/
}
.story .more{
    position: absolute; /*book_wrap 기준으로 정렬*/
    right: 0;
    top: 10px;
    color: #1d1d1d;
    padding: 0 20px 0 0;
}
.story .more::after{
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.37501 6.62467H0.583344V5.37467H5.37501V0.583008H6.62501V5.37467H11.4167V6.62467H6.62501V11.4163H5.37501V6.62467Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){
                /************오버스타일***********/
                .story .list ul li a .txt h2 span{
                    position: relative; /*after 정렬의 기준*/
                }
                .story .list ul li a:hover .txt h2 span::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 1px;
                    background-color: #1d1d1d;
                    transition: 0.5s;
                }
                .story .list ul li a:hover .txt h2 span::after{
                    width: 100%;
                }
}/*@media*/

@media screen and (max-width:640px){
                    /************모바일***********/
                    .story{
                        margin: 50px 0 0 0;
                    }
                    .story .tit h2{
                        font-size: 25px;
                        color: #1d1d1d;
                    }
                    .story .list{
                        margin: 14px 0 0 0;
                    }
                    .story .list ul{
                        display: block; /*flex해제*/
                    }
                    .story .list ul li{
                        width: auto;
                        background-color: transparent;
                        border-bottom: 1px solid #EEEEEE;
                        border-radius: 0;
                        padding: 21px 0;
                    }
                    .story .list ul li:first-child{
                        border-top: 1px solid #EEEEEE;
                    }
                    .story .list ul li a{
                        display: flex; /*photo, txt 좌우로 배치*/
                        flex-direction: row-reverse; /*좌우반전*/
                        justify-content: space-between;
                        align-items: center;
                    }
                    .story .list ul li a .photo{
                        width: 30%;
                        height: 60px; /*모바일에선 같음 (짧)*/
                    }
                    .story .list ul li.long a .photo{
                        height: 60px; /*모바일에선 같음 (긴)*/
                    }
                    .story .list ul li a .txt{
                        width: 58.75%;
                        width: calc(100% - 60px);
                        padding: 0;
                    }
                    .story .list ul li a .txt h2{
                        white-space: normal; /*여러줄허용*/
                        overflow: visible;/*넘치는 요소 안자름*/
                        font-size: 16px;
                    }
                    .story .list ul li a .txt p{
                         display: none;
                    }
                    .story .more{
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: #1d1d1d;
                        font-size: 15px;
                        padding: 0 20px 0 0;
                    }
                    .story .more::after{
                        content: "";
                        position: absolute;
                        right: 2px;
                        top: 1px;
                        width: 18px;
                        height: 18px;
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4375 5.5625H0.125V4.4375H4.4375V0.125H5.5625V4.4375H9.875V5.5625H5.5625V9.875H4.4375V5.5625Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    
}/*@media*/

footer{
    background-color: #202020;
    color: #F4DBD7;
    margin: 165px 0 0 0;
    padding: 80px 0 95px 0;
}
footer .wrapper{
    display: flex; /*slogan,f_info 좌우*/
    justify-content: space-between;
    position: relative; /*copyright 정렬의 기준*/
}
footer .slogan{
    font-size: 30px;
}
footer .f_info h3{
    font-size: 25px;
    margin: 0 0 10px 0;
}
footer .f_info address,
footer .f_info ul{
    margin-bottom: 40px;
}
footer .f_info ul{
    display: flex;
    gap: 23px;
}
footer .copyright{
    position: absolute; /*wrapper를 기준으로 정렬*/
    left: 0;
    bottom: 40px;
}
footer .copyright .f_logo{
    margin: 0 0 10px 0;
}
footer .copyright .f_logo img{
    width: 123px;
}
@media screen and (max-width:640px){
                footer{
                    margin: 50px 0 0 0;
                    padding: 25px 0 35px 0;
                }
                footer .wrapper{
                    display: block; /*flex 해제*/
                }
                footer .slogan{
                    font-size: 20px;
                }
                footer .f_info h3{
                    font-size: 16px;
                    margin: 40px 0 0 0;
                }
                footer .f_info ul{
                    display: flex;
                    gap: 10px;
                }
                footer .copyright{
                    position: relative; /*absolute 해제*/ 
                    left: auto;
                    bottom: auto;
                    font-size: 15px;
                }
                footer .copyright .f_logo{
                    margin: 60px 0 0 0;
                }
                footer .copyright .f_logo img{
                    width: 93px;
                }
}