@import url(default.css);
@import url(font.css);
@import url(common.css);

.section_tit{
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
}
@media screen and (max-width:640px){
                .section_tit{
                    font-size: 25px;
                }
}/*@media*/

header{
    height: 100px;
    position: absolute;/*wrap*/
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100;/*맨 위에 배치*/
}
header .wrapper{
    display: flex;/*logo/gnb/tnb 좌우배치*/
    justify-content: space-between;/*좌우끝*/
    align-items: center;/*위아래 가운데*/
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /*모바일에서만 보임*/
}
header .gnb .gnb_wrap ul{
    display: flex;/*li를 좌우에 배치*/
}
header .gnb .gnb_wrap ul li a{
    display: block;
    font-size: 25px;
    line-height: 100px; 
    /*header의 높이만큼 행간을 줌 - 그럼 글자의 높이가 header와
      같아지고 위아래 가운데에 글자가 들어감 (밑에 하위메뉴를 열기위한 값*/
    padding: 0 23px
}
header .tnb{
    display: flex;/*mypage/lang 좌우배치*/
}
header .tnb .mypage{
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 10.0762C9.17656 10.0762 8.04368 9.60501 7.10134 8.66267C6.15878 7.72011 5.6875 6.58711 5.6875 5.26367C5.6875 3.94023 6.15878 2.80735 7.10134 1.86502C8.04368 0.922453 9.17656 0.451172 10.5 0.451172C11.8234 0.451172 12.9563 0.922453 13.8987 1.86502C14.8412 2.80735 15.3125 3.94023 15.3125 5.26367C15.3125 6.58711 14.8412 7.72011 13.8987 8.66267C12.9563 9.60501 11.8234 10.0762 10.5 10.0762ZM0.1875 20.5475V17.4905C0.1875 16.8172 0.370375 16.1937 0.736125 15.6198C1.10188 15.046 1.59069 14.6048 2.20256 14.2964C3.56152 13.6302 4.93251 13.1305 6.31553 12.7973C7.69855 12.4641 9.09337 12.2975 10.5 12.2975C11.9066 12.2975 13.3014 12.4641 14.6845 12.7973C16.0675 13.1305 17.4385 13.6302 18.7974 14.2964C19.4093 14.6048 19.8981 15.046 20.2639 15.6198C20.6296 16.1937 20.8125 16.8172 20.8125 17.4905V20.5475H0.1875ZM2.25 18.485H18.75V17.4905C18.75 17.2121 18.6693 16.9543 18.508 16.7171C18.3467 16.4801 18.1277 16.2867 17.8511 16.1368C16.6663 15.5534 15.4584 15.1113 14.2273 14.8106C12.996 14.5102 11.7535 14.36 10.5 14.36C9.24646 14.36 8.00403 14.5102 6.77272 14.8106C5.54164 15.1113 4.3337 15.5534 3.14891 16.1368C2.8723 16.2867 2.65333 16.4801 2.492 16.7171C2.33067 16.9543 2.25 17.2121 2.25 17.4905V18.485ZM10.5 8.01367C11.2563 8.01367 11.9036 7.7444 12.4422 7.20586C12.9807 6.66732 13.25 6.01992 13.25 5.26367C13.25 4.50742 12.9807 3.86003 12.4422 3.32148C11.9036 2.78294 11.2563 2.51367 10.5 2.51367C9.74375 2.51367 9.09635 2.78294 8.55781 3.32148C8.01927 3.86003 7.75 4.50742 7.75 5.26367C7.75 6.01992 8.01927 6.66732 8.55781 7.20586C9.09635 7.7444 9.74375 8.01367 10.5 8.01367Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 21px; /*1개만 쓰면 넓이임, 높이는 비율에 맞게 알아서 들어감*/
    background-repeat: no-repeat;
    background-position: center center;
}
header .tnb .lang{
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 23.875C10.3719 23.875 8.83542 23.5629 7.39062 22.9387C5.94583 22.3146 4.68583 21.4648 3.61062 20.3894C2.53521 19.3142 1.68542 18.0542 1.06125 16.6094C0.437084 15.1646 0.125 13.6281 0.125 12C0.125 10.359 0.437084 8.81927 1.06125 7.38094C1.68542 5.9426 2.53521 4.68583 3.61062 3.61062C4.68583 2.53521 5.94583 1.68542 7.39062 1.06125C8.83542 0.437084 10.3719 0.125 12 0.125C13.641 0.125 15.1807 0.437084 16.6191 1.06125C18.0574 1.68542 19.3142 2.53521 20.3894 3.61062C21.4648 4.68583 22.3146 5.9426 22.9387 7.38094C23.5629 8.81927 23.875 10.359 23.875 12C23.875 13.6281 23.5629 15.1646 22.9387 16.6094C22.3146 18.0542 21.4648 19.3142 20.3894 20.3894C19.3142 21.4648 18.0574 22.3146 16.6191 22.9387C15.1807 23.5629 13.641 23.875 12 23.875ZM12 21.9734C12.6379 21.1274 13.1748 20.2741 13.6106 19.4134C14.0465 18.5528 14.4015 17.6121 14.6756 16.5913H9.32438C9.61458 17.6442 9.97365 18.6009 10.4016 19.4616C10.8293 20.3222 11.3621 21.1595 12 21.9734ZM9.57938 21.6297C9.10021 20.9422 8.6699 20.1606 8.28844 19.285C7.90698 18.4092 7.61052 17.5113 7.39906 16.5913H3.15875C3.81896 17.8894 4.70437 18.98 5.815 19.8631C6.92562 20.746 8.18042 21.3349 9.57938 21.6297ZM14.4206 21.6297C15.8196 21.3349 17.0744 20.746 18.185 19.8631C19.2956 18.98 20.181 17.8894 20.8412 16.5913H16.6009C16.3493 17.5192 16.0327 18.421 15.6513 19.2969C15.27 20.1727 14.8598 20.9503 14.4206 21.6297ZM2.3725 14.7163H7.01937C6.94083 14.2517 6.88385 13.7961 6.84844 13.3497C6.81323 12.9034 6.79562 12.4535 6.79562 12C6.79562 11.5465 6.81323 11.0966 6.84844 10.6503C6.88385 10.2039 6.94083 9.74833 7.01937 9.28375H2.3725C2.25229 9.70833 2.16021 10.1498 2.09625 10.6081C2.03208 11.0665 2 11.5304 2 12C2 12.4696 2.03208 12.9335 2.09625 13.3919C2.16021 13.8502 2.25229 14.2917 2.3725 14.7163ZM8.89406 14.7163H15.1059C15.1843 14.2517 15.2411 13.8002 15.2766 13.3619C15.3118 12.9235 15.3294 12.4696 15.3294 12C15.3294 11.5304 15.3118 11.0765 15.2766 10.6381C15.2411 10.1998 15.1843 9.74833 15.1059 9.28375H8.89406C8.81573 9.74833 8.75885 10.1998 8.72344 10.6381C8.68823 11.0765 8.67062 11.5304 8.67062 12C8.67062 12.4696 8.68823 12.9235 8.72344 13.3619C8.75885 13.8002 8.81573 14.2517 8.89406 14.7163ZM16.9806 14.7163H21.6275C21.7477 14.2917 21.8398 13.8502 21.9038 13.3919C21.9679 12.9335 22 12.4696 22 12C22 11.5304 21.9679 11.0665 21.9038 10.6081C21.8398 10.1498 21.7477 9.70833 21.6275 9.28375H16.9806C17.0592 9.74833 17.1161 10.2039 17.1516 10.6503C17.1868 11.0966 17.2044 11.5465 17.2044 12C17.2044 12.4535 17.1868 12.9034 17.1516 13.3497C17.1161 13.7961 17.0592 14.2517 16.9806 14.7163ZM16.6009 7.40875H20.8412C20.1731 6.09458 19.2938 5.00396 18.2031 4.13688C17.1125 3.27 15.8517 2.67708 14.4206 2.35813C14.8998 3.08563 15.326 3.88135 15.6994 4.74531C16.0729 5.60906 16.3734 6.49688 16.6009 7.40875ZM9.32438 7.40875H14.6756C14.3854 6.36375 14.0204 5.40094 13.5806 4.52031C13.1406 3.63969 12.6137 2.80844 12 2.02656C11.3863 2.80844 10.8594 3.63969 10.4194 4.52031C9.97958 5.40094 9.61458 6.36375 9.32438 7.40875ZM3.15875 7.40875H7.39906C7.62656 6.49688 7.92708 5.60906 8.30062 4.74531C8.67396 3.88135 9.10021 3.08563 9.57938 2.35813C8.14021 2.67708 6.8774 3.27208 5.79094 4.14313C4.70427 5.01396 3.82688 6.1025 3.15875 7.40875Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 24px; /*1개만 쓰면 넓이임, 높이는 비율에 맞게 알아서 들어감*/
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:640px){
                header{
                    height: 60px;
                }
                header .wrapper{
                    margin-right: 0;
                    /*오른쪽 여백만 삭제 - 메뉴열기 버튼이 오른쪽까지 배치되게 하려고*/
                }
                header .logo a img{
                    width: 93px;
                }
                header .gnb .gnb_open{
                    display: block; /*none으로 숨김요소를 다른속성만 주면 나타남*/
                    width: 60px;
                    height: 60px;
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_415' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_415)'%3E%3Cpath d='M2.77087 5.54297V4.35547H16.2292V5.54297H2.77087ZM2.77087 14.6471V13.4596H16.2292V14.6471H2.77087ZM2.77087 10.0951V8.90755H16.2292V10.0951H2.77087Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 24px;
                }
                header .gnb .gnb_wrap{
                    display: none;/*숨김*/
                }
                header .tnb{
                    display: none;/*숨김*/
                }
              
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px;
}
.visual h2{
    padding: 351px 0 10px 0;
}
.visual p{
    color: #fff;
}
@media screen and (max-width:640px){
                .visual{
                    height: auto; /*높이를 안준것처럼 -콘텐츠 길이만큼 늘어남*/
                    padding: 0 0 365px 0;
                }
                .visual h2{
                    padding: 215px 0 10px 0;
                }
                .visual p br{
                    display: none; /*줄바꿈 삭제*/
                }
}/*@media*/

.project{
    margin: 149px 0 0 0;
}
.project .wrapper{
    display: flex; /*tit/list 좌우배치*/
    justify-content: space-between;
    align-items: flex-start; /*tit의 높이를 존재하는 만큼만 주기 위해서*/
}
.project .tit{
    position: sticky; /*감싸는 wrapper를 기준으로 정렬 무조건*/
    top: 20px;
    /*좌우 정렬값 주면 안됨.. top값은 상단에 고정되었을때 위치값
       sticky의 단점
       감싸는 요소 중에 단한개라도 overflow:hidden;값을 가지고 있으면
       적용안됨. 사실상 못쓴다고 생각하면 됩니다.*/
}
.project .tit h2{
    color: #1976D3;
    margin: 0 0 10px 0;
}
.project .list{
    width: 52.69%;/*664/1260*100=*/
    margin: 110px 0 0 0;
}
.project .list ul{
    display: flex;
    flex-wrap: wrap; /*2줄이상 허용*/
    gap: 24px 
}
.project .list ul li{
    width: calc(50% - 12px);
    /* 100%/한줄에 보일 li갯수 =100%/2=50%
        한줄에 있는 여백의 총합 / 한줄에 보일 li갯수 = 24px/2 =12px*/
}
.project .list ul li:nth-child(even) { /* even - 짝수 , odd - 홀수*/
    transform: translateY(-111px);
}
.project .list ul li a{
    display: block;
    position: relative;/*txt 정렬의기준*/
}
.project .list ul li a .photo{
    overflow: hidden;
    border-radius: 10px;
    height: 417px;
    position: relative; /*before 정렬의 기준*/
}
.project .list ul li a .photo::before{
    content: "";
    position: absolute; /*photo를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1976D3;
    opacity: 0;
    transition: 0.5s;
}
.project .list ul li a .photo img{
    /*이미지를 감싸는 영역 photo 사이즈만큼만 나오게 리사이즈*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt{
    position: absolute; /* a를 기준으로 정렬*/
    left: 0;
    bottom: 30px;
    width: 100%;
    color: #fff;
    padding: 0 24px;
}
.project .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
}
.project .list ul li a .txt p{
    display: none;
    margin: 12px 0;
    color: rgba(255,255,255,0.8); 
}
.project .list ul li a .txt span{
    display: none; 
    /*숨김 - display : none은 아예 태그가 존재하지 않는 것처럼 코딩됨*/
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    padding: 0 27px 0 0;
    position: relative; /*after정렬의 기준*/
}
.project .list ul li a .txt span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_1493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_1493)'%3E%3Cpath d='M12.6924 16.1816L11.7262 15.1875L15.2272 11.6865H4.125V10.3115H15.2272L11.7262 6.81053L12.6924 5.81641L17.875 10.999L12.6924 16.1816Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px){
            /*****************오버했을때********************/

            .project .list ul li a:hover .photo::before{
                opacity: 0.9;
            }
            .project .list ul li a:hover .txt p{
                display: block;/*none으로 숨긴건 흔히 block으로 보이게함*/
            }
            .project .list ul li a:hover .txt span{
                display: inline-block; 
            }
}/*@media*/
@media screen and (max-width:640px){ /* 640px 이하 (포함)에서만 작동 */
    .project {
        margin: 65px 0 0 0;
    }
    .project .wrapper {
        display: block; 
        /* flex해제 -display에서 다른 속성값을 주면 해제 
           tit/list 위아래로 배치 */
    }
    .project .tit {
        position: relative; /* sticky을 해제하기 위해서 다른 속성을 줌 */
        top: auto; /* top값을 지정하지 않은 것 처럼 취소하는 값.. 0이랑 다름 */
    }
    .project .tit h2 {
        margin: 0 0 5px 0;
    }
    .project .tit p br {
        display: none; /* 줄바꿈 삭제 */
    }
    .project .list {
        width: auto; /* block요소 이기때문에 100% 들어감 */
        margin: 20px 0 0 0;
    }
    .project .list ul {
        gap: 9px 16px; /* 위아래 - 좌우 */
    }
    .project .list ul li {
        width: calc(50% - 8px);
        /*  100% / 한줄에 보일 li 갯수 = 100%/2 = 50%
            한줄에 있는 여백의 총합 / 한줄에 보일 li 갯수 = 16px/2 = 8px */
    }
    .project .list ul li:nth-child(even) { 
        transform: none; /* 짝수 위로 이동한거 취소 */
    }
    .project .list ul li a .photo {
        border-radius: 5px;
        height: 93px;
    }
    .project .list ul li a .txt {
        /* absolute -> 해제 */
        position: relative; 
        left: auto;
        bottom: auto;
        width: auto;
        color: #1D1D1D;
        padding: 9px 0 0 0;
    }
    .project .list ul li a .txt h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    }
    .project .list ul li a .txt h3 br {
        display: none; /* 줄바꿈 삭제 */
    }
}/*@media*/
.webzine{
    background-color: #1976D3;
    color: #fff;
    margin: 150px 0 0 0;
    padding: 130px 0 180px 0;
    position: relative; /*more정렬의 기준*/
}
.webzine .tit h2{
    margin: 0 0 12px 0;
}
.webzine .tit p{
    color: #fff;
}
.webzine .list{
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    padding: 60px 0 5px 0;
    overflow: hidden; /*가로 스크롤바 삭제*/
}
.webzine .list ul{
    display: flex;
    gap: 24px;
    width: 1605px;
    /*
        li넓이 *li갯수 + li 여백 * li갯수
        297 *5 + 24*5 =1485 + 120 = 1605
    */
}
.webzine .list ul li{
    width: 297px;
}
.webzine .list ul li a{
    display: block;
    background-color: #fff;
    border-radius: 10px;
    color: #1d1d1d;
    overflow: hidden;
    transition: 0.5s;
}
.webzine .list ul li a .photo{
    overflow: hidden;
    height: 210px;
}
.webzine .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /*오버이후 부드럽게 효과*/
}
.webzine .list ul li a .txt{
    padding: 25px 24px 24px 24px;
}
.webzine .list ul li a .txt strong{
    color: #1976D3;
    display: block;
    /*한줄제한 - 넓이가 제한이 되어야함 (block요소여야함)*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.webzine .list ul li a .txt h3{
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 10px 0 15px 0;

    /*2줄제한 - 조건 block요소여야함 절대padding주면 안됨
        행간 지정 ....행간 알면 안줘도됨
        높이 = 행간 * 줄수 1.2 * 2 = 2.4 (단위는 em)

        2줄이상 제한 끝에 ...이 자동으로 생성되지않음
    */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.webzine .list ul li a .txt p{
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
    font-size: 16px;
}
.webzine .more{
    position: absolute; /*webzine을 기준으로 정렬*/
    right: calc(50% - 630px);
    /*
        브라우저 사이즈가 바뀌어도 가운데는 변하지 않음
        그 가운데로부터 wrapper사이즈 1260의 절반을 더 오른쪽으로 이동
    */
    top: 215px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px 47px 9px 27px;
    color: #fff;
}
.webzine .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 25px;
    top: 11px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_15)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (min-width:641px){
    /*****************오버했을때********************/
            .webzine .list ul li:hover a .photo img{
                transform: scale3d(1.2, 1.2, 1);
            }
            .webzine .list ul li:hover a {
                transform: translate(0, -5px);
                box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.25);
            }
            .webzine .more:hover{
                background-color: #fff;
                color: #1976D3;
            }
            .webzine .more:hover::after{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_15)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%231976D3'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/*@media*/

@media screen and (max-width:640px){ /* 모바일 */
                .webzine{
                    margin: 65px 0 0 0;
                    padding: 50px 0 65px 0;
                }
                .webzine .tit{
                    margin-right: 60px;
                }
                .webzine .tit h2{
                    margin: 0 0 5px 0;
                }
                .webzine .tit p br {
                    display: none; /* 줄바꿈 삭제 */
                }
                .webzine .list{
                    width: 100%; /* position속성이*/
                    left: 0;
                    padding: 25px 0 10px 22px;
                    overflow-x: auto; 
                    /*overflow-x 좌우 auto
                      list안에 있는 요소가 list보다 넓이가 더 크면
                      그때만 가로스크롤바가 생김
                    */
                }
                .webzine .list ul{
                    gap: 20px;
                    width: 1350px;
                    /*
                        li넓이 *li갯수 + li 여백 * li갯수
                        250 *5 + 20*5 =1250 + 100 = 1350
                    */
                }
                .webzine .list ul li{
                    width: 250px;
                }
                .webzine .list ul li a{
                    border-radius: 10px;
                }
                .webzine .list ul li a .photo{
                    height: 178px;
                }
                .webzine .list ul li a .txt{
                    padding: 19px 13px 30px 13px;
                }
                .webzine .list ul li a .txt strong{
                    font-size: 15px;
                }
                .webzine .list ul li a .txt h3{
                    font-size: 17px;
                    margin: 5px 0 9px 0;
                }
                .webzine .list ul li a .txt p{
                    font-size: 15px;
                }
                .webzine .more{
                    right: 20px;
                    top: 65px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    padding: 0;
                    width: 38px;
                    height: 38px;
                    color: #fff;
                }
                .webzine .more::after {
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                .webzine .more span{
                    display: none;/*숨김*/
                }
}/*@media*/

.news {
    margin: 130px 0 0 0;
    padding: 0;
}
.news .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.news .tit h2 {
    color: #1976D3;
    margin: 0 0 10px 0;
}
.news .list {
    margin: 60px 0 0 0;
}
.news .list ul li {
    margin: 10px 0 0 0;
}
.news .list ul li:first-child {
    margin-top: 0;
}
.news .list ul li a {
    display: flex; /* subject/date 좌우 배치 */
    justify-content: space-between; /* 양쪽끝 */
    align-items: center;
    background-color: #EAF3FA;
    padding: 23px 40px;
}
.news .list ul li a .subject {
    display: flex; /* strong/h3 좌우배치 */
    justify-content: space-between; /* 좌우 양끝 */
    align-items: center;
    width: calc(100% - 130px);
}
.news .list ul li a .subject strong {
    display: block;
    color: #1976D3;
    font-weight: 700;
}
.news .list ul li a .subject h3 {
    font-size: 20px;
    color: #1D1D1D;
    line-height: 1.2;
    width: calc(100% - 147px);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list ul li a .date {
    color: rgba(29,29,29,0.6);
    width: 130px; /* 글자 넓이 + 제목과의 여백 */
    text-align: right;
}
.news .more {
    position: absolute; /* wrapper르르 기준으로 정렬 */
    right: 0;
    top: 80px;
    border: 1px solid #1976D3;
    border-radius: 30px;
    padding: 8px 47px 9px 27px;
    color: #1976D3;
}
.news .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 25px;
    top: 11px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_15)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%231976D3'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){
/* 641px 이상일때만 (641포함) */
            .news .list ul li a:hover {
                background-color: #1976D3;
                box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.25);
            }
            .news .list ul li a:hover .subject strong {
            color: #fff;
            }
            .news .list ul li a:hover .subject h3 {
            color: #fff;
            }
            .news .list ul li a:hover .date {
            color: rgba(255,255,255,0.6);
            }
            .news .more:hover {
            border-color: #1976D3;
            background-color: #1976D3;
            color: #fff;
            }
            .news .more:hover::after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_18' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_18)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/*@media*/
@media screen and (max-width:640px){
/* 640px 보다 작을때만 (640포함) */
                    .news {
                        margin: 65px 0 0 0;
                        padding: 0;
                    }
                    .news .wrapper {
                        position: relative; /* more 정렬의 기준 */
                    }
                    .news .tit{
                        margin-right: 60px;
                        /*더보기 아이콘 들어갈 영역을 여백처리함
                        */
                    }
                    .news .tit h2 {
                        margin: 0 0 5px 0;
                    }
                    .news .tit p br {
                        display: none; /* 줄바꿈 삭제 */
                    }
                    .news .list {
                        margin: 30px 0 0 0;
                    }
                    .news .list ul li {
                        margin: 0;
                        border-bottom: 1px solid #EAF3FA;
                    }
                    .news .list ul li:first-child {
                        margin-top: 0;
                        border-top: 1px solid #EAF3FA;
                    }
                    .news .list ul li:nth-last-child(3),
                    .news .list ul li:nth-last-child(4) {
                        display: none; /*마지막에서 첫번째 두번쨰 숨김*/
                    }
                    .news .list ul li a {
                        display: block; /* flex해제 */
                        justify-content: space-between; /* 양쪽끝 */
                        background-color: transparent; /*투명*/
                        padding: 15px 0 15px 0;
                    }
                    .news .list ul li a .subject {
                        display: block; /* flex해제 */
                        width: auto;
                    }
                    .news .list ul li a .subject strong {
                        display: inline-block;
                    }
                    .news .list ul li a .subject h3 {
                        font-size: 18px;
                        width: auto;
                        /* 무제한제한 */
                        white-space: normal;
                        overflow: visible;
                        margin: 10px 0;
                    }
                    .news .list ul li a .date {
                        width: auto; /* 글자 넓이 + 제목과의 여백 */
                        text-align: left;
                    }
                    .news .more {
                        top: 16px;
                        border-radius: 50%;
                        padding: 0;
                        width: 38px;
                        height: 38px;
                        color: #1976D3;
                    }
                    .news .more::after {
                        right: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-size: 20px;
                    }
                    .news .more span{
                        display: none;
                    }
}/*@media*/
.service{
    margin: 150px 0 0 0;
    padding: 130px 0 180px 0;
    background-color: #EAF3FA;
}
.service .tit h2{
    color: #1976D3;
    margin: 0 0 10px 0;
}
.service .list{
    margin: 60px 0 0 0;
}
.service .list ul{
    display: flex;
    justify-content: space-between;
}
.service .list ul li{
    width: calc(33.33% - 16px);
    /*
        100% / 한줄에 나올 li 갯수 = 100 / 3 = 33.33
        한줄에 존재하는 여백의 총합 / 한줄에 나올 li 갯수 = 24+24/3 = 48/3 = 16
    */
}
.service .list ul li a{
    display: block;
    background-color: #fff;
    padding: 27px 0 27px 40px;
    position: relative; /*after정렬의 기준*/
}
.service .list ul li a span{
    display: block;
    margin: 0 0 5px 0;
}
.service .list ul li a strong{
    display: block;
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #1D1D1D;
}
.service .list ul li a:after{
    content: "";
    position: absolute;
    right: 40px;
    top: 35px;
    width: 38px;
    height: 38px;
    border: 1px solid #1976D3;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_1270' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_1270)'%3E%3Cpath d='M11.5385 14.712L10.6602 13.8082L13.8429 10.6255H3.75V9.37552H13.8429L10.6602 6.19281L11.5385 5.28906L16.25 10.0005L11.5385 14.712Z' fill='%231976D3'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
}
@media screen and (min-width:641px){
    /*****************오버했을때********************/
            .service .list ul li:hover a {
                background-color: #1976D3;
                color: #fff;
                box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.25);
            }
            .service .list ul li:hover a strong{
                color: #fff;
            }
            .service .list ul li:hover a::after{
                content: "";
                position: absolute;
                right: 40px;
                top: 35px;
                width: 38px;
                height: 38px;
                border-color: #fff;
                border-radius: 50%;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_1270' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_1270)'%3E%3Cpath d='M11.5385 14.712L10.6602 13.8082L13.8429 10.6255H3.75V9.37552H13.8429L10.6602 6.19281L11.5385 5.28906L16.25 10.0005L11.5385 14.712Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
            }
}
@media screen and (max-width:640px){ /* 모바일 */
                    .service{
                        margin: 63px 0 0 0;
                        padding: 50px 0 65px 0;
                    }
                    .service .tit h2{
                        margin: 0 0 5px 0;
                    }
                    .service .tit p br {
                        display: none; /* 줄바꿈 삭제 */
                    }
                    .service .list{
                        margin: 20px 0 0 0;
                    }
                    .service .list ul{
                        display: flex;
                        justify-content: space-between;
                    }
                    .service .list ul li{
                        width: calc(33.33% - 10.66px);
                        /*
                            100% / 한줄에 나올 li 갯수 = 100 / 3 = 33.33
                            한줄에 존재하는 여백의 총합 / 한줄에 나올 li 갯수 = 16+16/3 = 32/3 = 10.66
                        */
                    }
                    .service .list ul li a{
                        padding: 30px 16px 87px 16px;
                        text-align: center;
                        height: 100%;
                    }
                    .service .list ul li a span{
                        display: none;
                    }
                    .service .list ul li a strong{
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .service .list ul li a:after{
                        right: 50%;
                        top: auto;
                        transform: translate(50%);
                        bottom: 20px;
                        width: 25px;
                        height: 25px;
                        background-size: 15px;
                    }
}

footer{
    padding: 80px 0 1px 0;
    background-color: #1d1d1d;
    color: #A7AFBE;
}
footer .f_nav ul{
    display: flex;
    flex-wrap: wrap; /*줄바꿈 허용*/
    gap: 8px 26px; /*좌우값 - 위아래값*/
}
footer .f_nav ul li{
    position: relative; /*before/after 정렬의 기준*/
}
footer .f_nav ul li::after{
    content: "";
    position: absolute; /*li기준으로 정렬*/
    border: 1px solid rgba(167,175,190,0.2);
    right: -15px;
    top: 5px;
    height: 16px;
}
footer .f_nav ul li:last-child::after{
    display: none; /*마지막 li의 after를 숨김*/
}
footer .f_info{
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap; /*줄바꿈 허용*/
    gap: 8px 30px;
}
.copyright{
    margin: 60px 0 57px 0;
    color: rgba(167,175,190,0.2);
}