/*웹폰트를 선언*/
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('../font/GmarketSansBold.woff2') format('woff2'),
	url('../font/GmarketSansBold.woff') format('woff');
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 400;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('../font/GmarketSansMedium.woff2') format('woff2'),
	url('../font/GmarketSansMedium.woff') format('woff');
}
