/* 회사소개 > CEO인사말 */

.ctn_ceo {
    position: relative; /* before 정렬의 기준 */
}
.ctn_ceo::before {
    content: "";
    position: absolute;
    left: 2.59em;
    top: 0;
    z-index: -1; /* ctn_ceo 영역 안에서 맨 아래 */
    width: calc(100% - 5.18em);
    height: 21.17em;
    background-color: #f4f4f4;
    border-radius: 1.76em;
}
.ctn_ceo .wrapper {
    position: relative; /* photo 정렬의 기준 */
}
.ctn_ceo .ceo_tit {
    padding: 5.18em 0 0 45.63%;
}
.ctn_ceo .ceo_tit strong {
    display: block;
    color: var(--point-color);
}
.ctn_ceo .ceo_tit h2 {
    font-size: 2.05rem; /* 35 */
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0.2em 0 1.29em 0;
}
.ctn_ceo .ceo_tit p {
    color: #666;
}
.ctn_ceo .photo {
    position: absolute;
    left: 0;
    top: 5.18em;
    width: 37.22%;
    height: 42.29em;
    border-radius: 1.18em;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}
.ctn_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_ceo .ceo_detail {
    margin: 8.24em 0 8.20em 45.63%;
}
.ctn_ceo .ceo_detail .sign {
    display: flex;
    margin: 1.5em 0 0 0;
    gap: 2em;
    align-items: center;
}
.ctn_ceo .ceo_detail .sign strong {
    font-weight: var(--bold-weight);
}
@media screen and (max-width:1440px){
    .ctn_ceo::before {
        left: 20px;
        width: calc(100% - 40px);
        border-radius: 1.18em;
    }
    .ctn_ceo .wrapper{
        margin: 0 40px;
    }
    .ctn_ceo .ceo_tit {
       padding-left: 42%;
    }
    .ctn_ceo .ceo_detail {
        margin-left: 42%;
    }
    
}
@media screen and (max-width:1024px){
    .ctn_ceo .ceo_tit h2 {
        font-size: 1.8rem; /* 30 */
    }
}
@media screen and (max-width:768px){
    .ctn_ceo::before {
        display: none;
    }
    .ctn_ceo .wrapper{
        margin: 0 20px;
    }
    .ctn_ceo .ceo_tit {
        background-color: #f4f4f4;
        border-radius: 15px;
        padding: 45px 30px 48px 30px;
    }
    .ctn_ceo .ceo_detail {
        margin-left: 42%;
    }
    .ctn_ceo .ceo_tit h2 {
        font-size: 1.56rem; /* 25 */
        margin: 0.5em 0 1.75em 0;
    }
    .ctn_ceo .ceo_tit h2 br{
        display: none;
    }
    .ctn_ceo .photo {
        margin: 0.69em auto 0 auto;
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        max-width: 600px;
        height: 434px;
        border-radius: 0.9em;
    }
    .ctn_ceo .photo img {
        object-position: center top;
    }
    .ctn_ceo .ceo_detail {
        margin: 1.75em 0 0 0;
    }
    .ctn_ceo .ceo_detail .sign {
        flex-direction: column;
        margin: 3.7em 0 0 0;
        gap: 0;
        align-items: flex-start;
    }
    .ctn_ceo .ceo_detail .sign strong {
        font-weight: var(--bold-weight);
    }
}

/* 회사소개 > 찾아오시는길 */
.ctn_map .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe {
    width: 100%;
    height: 618px;
    border: 0;
}
.ctn_map .wrapper{
    display: block;
    padding: 62px 0 120px 0;
}
.ctn_map .wrapper .map{
    display: flex;
    justify-content: space-between;
    padding: 0 0 80px 0;
}

.ctn_map .wrapper h3{
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: #1d1d1d;
    line-height: var(--tit-line-height);
    
}
.ctn_map .wrapper ul.sns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.ctn_map .wrapper ul.sns li a{
    padding: 15px 27px 15px 60px;
    border: 1px solid #666;
    border-radius: 33px;
}
.ctn_map .wrapper ul.sns li.kakao a{
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='21' viewBox='0 0 15 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_202_1065)'%3E%3Cpath d='M7.49896 0.000711602C3.35429 -0.00212061 0.00616595 3.31215 7.88594e-06 7.41291C-0.00283877 9.27217 0.765234 10.8605 1.92289 12.2149C4.03412 14.6849 5.88125 17.2858 6.88978 20.4076C6.98087 20.6894 7.11647 21.0095 7.50617 20.9997C7.93014 20.9891 8.04407 20.6304 8.14469 20.3268C9.09111 17.4704 10.6723 15.0026 12.6703 12.7616C13.858 11.4294 14.8105 9.89439 14.9703 8.09136C15.36 3.69733 11.8674 -0.0594007 7.49896 0.000711602ZM10.0481 7.48319C10.038 8.83988 8.83718 10.0266 7.48694 10.0144C6.12513 10.0021 4.9422 8.81144 4.94749 7.45863C4.95278 6.10731 6.15372 4.92206 7.51163 4.9283C8.86698 4.93443 10.058 6.13425 10.0481 7.48313V7.48319Z' fill='%23007DFD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_202_1065'%3E%3Crect width='15' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); 
}
.ctn_map .wrapper ul.call li,
.ctn_map .wrapper ul.bus li{
    display: flex;
}
.ctn_map .wrapper ul.call li strong,
.ctn_map .wrapper ul.bus li strong{
    font-size: 25px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #1d1d1d;
}
@media screen and (max-width:1300px){
    .ctn_map .map {
        left: 20px;
        width: calc(100% - 20px);
    }
    
}

/* 회사소개 > 연혁 */
.ctn_history {
    margin: 0 0 130px 0;
}
.ctn_history .his_tit{
    margin: 5px 0 60px 0;
}
.ctn_history .his_tit strong{
    display: block;
    color: var(--point-color);

}
.ctn_history .his_tit h2{
    font-size: 35px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 0 0;
}
.ctn_history .his_photo .photo{
    overflow: hidden;
    height: 400px;
    width: 35%;
    margin: 0 auto;
    transition: 0.5s;
}
.ctn_history .his_photo.active .photo{
    width: 100%;
}
.ctn_history .his_photo .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.ctn_history .his_year_group .year_tit{
    max-width: 404px;
    width: 35%;
}
.ctn_history .his_year_group .year_cont{
    max-width: 618px; 
    width: 60%;
    padding: 26px 0 0 15px;
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: #ededed;
    position: relative;
}
.ctn_history .his_year_group .year_cont::before{
    content: "";
    position: absolute;
    left: -3px;
    top: 0;
    width: 3px;
    height: 36px;
    background-color: #fff;
}

.ctn_history .his_year_group .year_tit h3{
    font-size: 50px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
.ctn_history .his_year_group .year_tit .photo{
    overflow: hidden;
    border-radius: 10px;
    height: 476px;
    margin: 30px 0 0 0;
}
.ctn_history .his_year_group .year_tit .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group .year_cont h4{
    font-size: 25px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 0 0 12px 0;
    position: relative; /*before정렬의 기준*/
}
.ctn_history .his_year_group .year_cont ul + h4{
    margin-top: 43px;
}
.ctn_history .his_year_group .year_cont h4::before{
    content: "";
    position: absolute;
    left: -19px;
    top: 10px;
    z-index: 10;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--base-color);
}
.ctn_history .his_year_group .year_cont > *:last-child{
    position: relative;
}
.ctn_history .his_year_group .year_cont > *:last-child::before{
    content: "";
    position: absolute;
    left: -18px;
    bottom: -17px;
    width: 3px;
    height: calc(100% + 50px);
    background-color: #fff;
}
.ctn_history .his_year_group .year_cont ul li{
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}
.ctn_history .his_year_group .year_cont ul li strong{
    display: block;
    color: var(--tit-color);
}
.ctn_history .his_year_group .year_cont ul li span{
    display: block;
    width: calc(100% - 86px);
}

.ctn_history .his_nav{
    position: fixed; /*무조건 body를 기준으로 정렬*/
    left: 50%;
    transform: translateX(-50%);
    bottom: -75px;
    z-index: 99; /*header보다 1만 작은값*/
    width: calc(100% - 40px);
    max-width: 1260px;
    background-color: #ededed;
    padding: 15px 110px;
    border-radius: 50px;
    transition: 0.5s;
}
.ctn_history .his_nav.active{
    bottom: 20px;
}
.ctn_history .his_nav ul{
    display: flex;
    overflow-y: hidden; /*위아래 스크롤금지*/
    overflow-x: auto;
}
.ctn_history .his_nav ul li{
    min-width: 25%;
}
.ctn_history .his_nav ul li button{
    display: block;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    font-size: 20px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    padding: 7px 25px 7px 25px;
    border-radius: 50px;
    white-space: nowrap;
}
.ctn_history .his_nav ul li.active button{
    background-color: var(--point-color);
    color: #fff;
}
@media screen and (min-width:769px){
    /*reverse 좌우반전*/
    .ctn_history .his_year_group.reverse{
        flex-direction: row-reverse; /*가로반전*/
    }
    .ctn_history .his_year_group.reverse .year_cont{
        padding-right: 15px;
        padding-left: 0;
        border-width: 0 3px 0 0;
    }
    .ctn_history .his_year_group.reverse .year_cont::before{
        left: auto;
        right: -3px;
    }
    .ctn_history .his_year_group.reverse .year_cont > *:last-child::before{
        left: auto;
        right: -18px;
    }
    /*reverse 좌우반전*/
    /*좌우 반대 revers의 경우 */
    .ctn_history .his_year_group.reverse .year_cont h4::before{
        left: auto;
        right: -19px;
    }
    .ctn_history .his_year_group.reverse .year_cont{
        text-align: right;
    }
    .ctn_history .his_year_group.reverse .year_cont ul li{
        flex-direction: row-reverse;
    }
    
}
@media screen and (max-width:768px){
    .ctn_history {
        margin: 0 0 80px 0;
    }
    .ctn_history .his_tit{
        margin: 5px 0 30px 0;
    }
    .ctn_history .his_tit h2{
        font-size: 25px;
        margin: 5px 0 0 0;
    }.ctn_history .his_tit h2 br{
        display: none;
    }
    .ctn_history .his_photo .photo{
        height: 135px;
    }
    .ctn_history .his_year_group{
        margin: 25px 0 20px 0;
        display: block;
    }
    .ctn_history .his_year_group .year_tit{
        max-width: 100%;
        width: auto;
    }
    .ctn_history .his_year_group .year_cont{
        max-width: 100%; 
        width: auto;
        padding: 12px 0 0 16px;
    }
    .ctn_history .his_year_group .year_cont::before{
        content: "";
        position: absolute;
        left: -3px;
        top: 0;
        width: 3px;
        height: 25px;
        background-color: #fff;
    }
    
    .ctn_history .his_year_group .year_tit h3{
        font-size: 25px;
    }
    .ctn_history .his_year_group .year_tit h3 br{
        display: none;
    }
    .ctn_history .his_year_group .year_tit .photo{
        display: none;
    }
    .ctn_history .his_year_group .year_cont h4{
        font-size: 20px;
    }
    .ctn_history .his_year_group .year_cont ul + h4{
        margin-top: 43px;
    }
    .ctn_history .his_year_group .year_cont h4::before{
        content: "";
        position: absolute;
        left: -20px;
    }
    .ctn_history .his_year_group .year_cont > *:last-child{
        position: relative;
    }
    .ctn_history .his_year_group .year_cont > *:last-child::before{
        content: "";
        position: absolute;
        left: -19px;
        bottom: -18px;
        width: 3px;
        height: calc(100% + 42px);
        background-color: #fff;
    }
    .ctn_history .his_year_group .year_cont ul li{
        margin: 4px 0;
    }
    .ctn_history .his_year_group .year_cont ul li strong{
        display: block;
        color: var(--tit-color);
    }
    .ctn_history .his_year_group .year_cont ul li span{
        display: block;
        width: calc(100% - 86px);
    }
    .ctn_history .his_nav{
        padding: 12px 9px;
    }
    .ctn_history .his_nav ul::-webkit-scrollbar{
        display: none; /*스크롤바 삭제*/
    }
    .ctn_history .his_nav ul li{
        min-width: auto;
    }
    .ctn_history .his_nav ul li button{
        width: 100%;
        margin: 0;
        font-size: 18px;
    }
   
}